{% extends "layout.twig" %}
{% block content %}

    <form id="signin" class="form-horizontal" action='?page=signin' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">Please Log In</legend>
            </div>


            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="email" id="email" name="email" placeholder="" class="input-xlarge" required>
                    <p class="help-block"></p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge" required>
                    <p class="help-block"></p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}
{% block scripts %}
    <script src="js/jquery.validate.min.js"></script>

    <script>
        jQuery('#signin').validate({
            rules: {
                password: {

                    required: true
                },

                email: {
                    required: true,
                    email: true
                }
            }
        });
    </script>
{% endblock %}