<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="{{product.pictureUrl("320x150")}}" alt="">
        <div class="caption">
            <h4 class="pull-right">{{ "%01.2f$"|format(product.price) }}</h4>
            <h4><a href="#">{{ product.name[:20] ~ '...' }}</a>
            </h4>
            <p>{{ product.description|e }}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>

                {% for i in 0..4 %}

                    {% if i < product.rating %}
                        <span class="glyphicon glyphicon-star"></span>
                    {% else %}
                        <span class="glyphicon glyphicon glyphicon-star-empty"></span>
                    {% endif %}

                {% endfor %}

            </p>
        </div>
    </div>
</div>