{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="css/error.css"/>
{% endblock %}

{% block content %}

    <div class="error-template">
        <h1>
            Oops!</h1>
        <h2>
            405 Method Not Allowed</h2>
        <div class="error-details">
            Sorry, this method is not allowed on this page.
        </div>
        <div>
            <a href="index.php">
                <img src="img/nope.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="error-actions">
            <a href="index.php" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                Take Me Home </a>
        </div>
    </div>


{% endblock %}
